/* Navbar.css */

.navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  border-bottom: 1px solid #e0e0e0;
}

.logo {
  height: 60px;
}

.navbar-right a {
  color: #000;
  text-decoration: none;
  margin-left: 0.8rem;
  font-size: 0.95rem;
  font-weight: 400;
}

.navbar-right a:hover {
  text-decoration: underline;
}
