.navbar {
    background-color: #0d1449;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
  }
  
  .logo {
    height: 60px;
  }
  
  .signin-link {
    color: white;
    text-decoration: none;
    font-size: 0.95rem;
  }
  