.search-container {
    position: relative;
    width: 500px;
    margin: 2rem auto;
  }
  
  .search-input {
    width: 100%;
    padding: 0.8rem 2.5rem 0.8rem 1rem;
    border: none;
    border-radius: 15px;
    background-color: #eee8f3;
    font-size: 0.9rem;
    outline: none;
  }
  
  .search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
  }
  